"*":
  "exception-reporting":
    userId: "d24989b1-c9e8-5791-7dda-c7c34a69e613"
  welcome:
    showOnStartup: false
  core:
    packagesWithKeymapsDisabled: [
      "ex-mode"
      "process-palette"
    ]
  editor:
    invisibles: {}
    showInvisibles: true
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  "symbols-view": {}
  "file-icons": {}
  "fuzzy-finder":
    preserveLastSearch: true
    searchAllPanes: true
  "bracket-matcher":
    autocompleteBrackets: false
